
      table {
    width: 100%;
    border-collapse: collapse;
  }
  table, td, th {
    border: 1px solid;
    padding: 20px;
    text-align: left;
    background-color:pink;
    font-size: 30px;
  }
