body {
  margin: 0;
  background-color: #607EAA;
  color: white;
  
}
#navbar {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow: hidden;
  background-color: #1d4f91;
  padding:30px;
  position: sticky;
  top: 0;
  width: 100%;

}
.simply a{

  font-size: 30px;
  margin-left:40px;
  color: white;
  text-decoration: none;
}
.simply {
 padding-left:280px;
 display:inline-flex;
 flex-wrap: nowrap; 
}
.icon{
  margin-left: 200px;
  margin-top: -15px;
}
 #OngsaHOME{
  display: inline-flex;
  flex-wrap: nowrap;
  font-size: 30px;
  flex-direction: row;
  
  
}


#navbar img {
  border-radius: 90%;
  margin-bottom:-15px;
  margin-right: 6px;
  
}
.About  {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 
 
}
  

.About img {
  border-radius: 500px;
  margin-left: 100px;
  margin-top: 150px;
}
.About h1{
flex-direction: column;
align-self: center;
padding-right: 50%;
padding-bottom: 20%;
 
}

