body {  
  font-size: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  margin:0;
}
#Ongsa {
  float:left;
  color: white;
  font-size: 45px;
  margin: -17px;
  margin-right: 320px;
}
img {
  border-radius: 90%;
  margin-bottom:-15px;
  margin-right: 6px;
}
#navbar {
  overflow: hidden;
  background-color: #1d4f91;
  padding: 30px;
}
#navbar a {
  float: center;
  display: flexbox;
  color: white;
  text-align: justify;
  padding:14px 16px;
  text-decoration: none;
  font-size: 30px;
}
.content {
  padding: 16px;
}
.sticky {
  position:absolute

}
.sticky + .content {
  padding-top: 60px;
}
